@model MyProject.Models.CloneTamplate1

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CloneTamplate1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tamplateid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamplateid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tamplateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tamplateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isworking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isworking)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
